// color variants
@import 'themes-vars.module.scss';

// third-party
@import '~react-perfect-scrollbar/dist/css/styles.css';
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

// ==============================|| LIGHT BOX ||============================== //
.slick-arrow:before {
    color: $grey500;
}

// ==============================|| LIGHT BOX ||============================== //
.fullscreen .react-images__blanket {
    z-index: 1200;
}

// ==============================|| APEXCHART ||============================== //

.apexcharts-legend-series .apexcharts-legend-marker {
    margin-right: 8px;
}

// ==============================|| PERFECT SCROLLBAR ||============================== //

.scrollbar-container {
    .ps__rail-y {
        &:hover > .ps__thumb-y,
        &:focus > .ps__thumb-y,
        &.ps--clicking .ps__thumb-y {
            background-color: $grey500;
            width: 5px;
        }
    }
    .ps__thumb-y {
        background-color: $grey500;
        border-radius: 6px;
        width: 5px;
        right: 0;
    }
}

.scrollbar-container.ps,
.scrollbar-container > .ps {
    &.ps--active-y > .ps__rail-y {
        width: 5px;
        background-color: transparent !important;
        z-index: 999;
        &:hover,
        &.ps--clicking {
            width: 5px;
            background-color: transparent;
        }
    }
    &.ps--scrolling-y > .ps__rail-y,
    &.ps--scrolling-x > .ps__rail-x {
        opacity: 0.4;
        background-color: transparent;
    }
}

// ==============================|| ANIMATION KEYFRAMES ||============================== //

@keyframes wings {
    50% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes blink {
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes bounce {
    0%,
    20%,
    53%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: translateZ(0);
    }
    40%,
    43% {
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0, -5px, 0);
    }
    70% {
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0, -7px, 0);
    }
    80% {
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: translateZ(0);
    }
    90% {
        transform: translate3d(0, -2px, 0);
    }
}

@keyframes slideY {
    0%,
    50%,
    100% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(-10px);
    }
    75% {
        transform: translateY(10px);
    }
}

@keyframes slideX {
    0%,
    50%,
    100% {
        transform: translateX(0px);
    }
    25% {
        transform: translateX(-10px);
    }
    75% {
        transform: translateX(10px);
    }
}

.support-button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 12px 24px;
  margin-top: 1em;
  margin-bottom: 1em;
  border: 1px solid #2a6722;
  border-radius: 8px;
  background: #4ec240;
  background: -webkit-gradient(linear, left top, left bottom, from(#4ec240), to(#2a6722));
  background: -moz-linear-gradient(top, #4ec240, #2a6722);
  background: linear-gradient(to bottom, #4ec240, #2a6722);
  -webkit-box-shadow: #5ee94d 0px 0px 40px 0px;
  -moz-box-shadow: #5ee94d 0px 0px 40px 0px;
  box-shadow: #5ee94d 0px 0px 40px 0px;
  text-shadow: #193d14 1px 1px 1px;
  font: normal normal bold 14px arial;
  color: #ffffff;
  text-decoration: none;
}
.support-button:hover,
.support-button:focus {
  border: 1px solid #317928;
  background: #5ee94d;
  background: -webkit-gradient(linear, left top, left bottom, from(#5ee94d), to(#327c29));
  background: -moz-linear-gradient(top, #5ee94d, #327c29);
  background: linear-gradient(to bottom, #5ee94d, #327c29);
  color: #ffffff;
  text-decoration: none;
}
.support-button:active {
  background: #2a6722;
  background: -webkit-gradient(linear, left top, left bottom, from(#2a6722), to(#2a6722));
  background: -moz-linear-gradient(top, #2a6722, #2a6722);
  background: linear-gradient(to bottom, #2a6722, #2a6722);
}
.support-button:after{
  content:  "\0000a0";
  display: inline-block;
  height: 24px;
  width: 24px;
  line-height: 24px;
  margin: 0 -4px -6px 4px;
  position: relative;
  top: 0px;
  left: 5px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAA7EAAAOxAGVKw4bAAACGklEQVRIidXVTYiNURgH8B/dbtNNmm6aNFlM0iQLSdNgbGQxC00psbHAwsKGsqEkVsxqiiQbHwskaookyVdRhvIRKSxIUkbykYnxPRbn3Lz3vedt7l361+l9z/M85/l+zuF/x5QC+gpsnuTsL7zEeVzBn5TQ1ILDK9EX+UWrglW4hKvomMShOjzEqSbkSliNd7iDcjPKqxjHlhYcWo4JrGtGuD8K9+ToczEg1Kczce4BnmDeZAZ24YsQfhbD0fAE3qI9xz8Xee+jM0gXeSnuCl1SQwm9OIrdQkGruXMduIHPOFjkfVko2GCOPid69xw/hdbMOlfFd2zDpigzq+ZZFt2YgZGEd2fj/xHsU9/3W+P3TJQtoQuv8xFsjNZnFkSYQn/0/kDcLxOiXZgSPoZnigcwi4qQknHcRFuk7xCaZDqNKVqM2+rDn4btmX0Zs6OnVZwQrpVv0ch6XBOKXYcqfgtFyqI2RB+FBniDe9ivMQ2DUUdfKuSBqGh+jr4TY0JKilDBUFS+J8vIpmgJPuBp7vAiPMJXocuyU9we+Wsjfa8wJ0lcx+UcrSSkZCjuL/o3zbU1htMar5a6CNqwIEYwnOGXhb4eibI9OIxDkf8Jr9RPfdJAJx5n/nvxAqO4FVe30AgXcL9IYTPoEULvz9E3RHorQ9gwB4RZIHRTV4a+RngiR1sxkMJx4bpIrZOtKks9+hXpyOCHMLFN4y9Dd3i9EsnFDgAAAABJRU5ErkJggg==") no-repeat left center transparent;
  background-size: 100% 100%;
}
