name: Qodana RF API
on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
    paths:
      - 'remote-falcon-api/**'
  
jobs:
  qodana:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: remote-falcon-api
    steps:
    - name: Checkout Code
      uses: actions/checkout@v3
      with:
        ref: ${{ github.event.pull_request.head.sha }}
        fetch-depth: 0
        
    - name: Set up JDK 17
      uses: actions/setup-java@v2
      with:
        java-version: '17'
        distribution: 'adopt'
        cache: 'maven'

    - name: Validate Maven Wrapper
      run: mvn --version

    - name: Run Tests
      run: mvn test
      
    - name: Archive coverage data
      uses: actions/upload-artifact@v2
      with:
        name: maven-coverage-data
        path: remote-falcon-api/.qodana/code-coverage

    - name: Qodana Scan
      uses: JetBrains/qodana-action@2023.2
      env:
        QODANA_TOKEN: ${{ secrets.QODANA_RF_API_TOKEN }}
      with:
        args: |
          --project-dir,remote-falcon-api,
          --linter,jetbrains/qodana-jvm:2023.2,
          --fail-threshold,1
